.side-bar
  .header
    .header__name
      ユーザーネーム
    %ul.header__lists
      %li.list
        = link_to do
          %i.fa.fa-edit
      %li.list
        = link_to do
          %i.fa.fa-cog
  .groups
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
